$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large-desktop: "(min-width: 1200px)";

$font-primary: "Open Sans", sans-serif;
$font-secondary: "PT Sans", sans-serif;

$color-primary: #212121;
$color-secondary: #ffd200;
$color-additional: #e11a27;

$container-padding-mobile: 15px;
$container-width: 1076px;