.call-to-action {
  padding: 15px 30px;
  border: 1px solid $color-primary;
  border-radius: 5px;

  background-color: transparent;

  font-family: $font-primary;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-primary;

  &_red {
    font-weight: 400;
    border-color: $color-additional;
    background-color: $color-additional;
    color: #fff;
  }
}

@media #{$tablet} {
  .call-to-action {
    padding: 25px 45px;
    border-radius: 10px;

    font-size: 22px;
  }

}

@media #{$desktop} {
  .call-to-action {
    cursor: pointer;
    transition: background 0.2s, border 0.2s;
    &:hover {
      background-color: rgba($color-primary, 0.1);
      border-color: rgba($color-primary, 0.1);
    }

    &_red {
      &:hover {
        background-color: rgba($color-additional, 0.8);
        border-color: rgba($color-additional, 0.8);
      }
    }

  }
}


