.intro {
  padding-top: 40px;
  padding-bottom: 110px;

  background-image: url("/img/intro-bg.jpg");
  background-position: center;
  background-size: cover;

  &__container {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;

    text-align: center;
  }

  &__headline {
    margin-top: 0;
    margin-bottom: 12px;

    font-family: $font-primary;
    font-weight: 300;
    color: $color-primary;


  }

  &__subheadline {
    margin-top: 0;
    margin-bottom: 24px;

    font-family: $font-primary;
    color: $color-primary;

    font-weight: 300;
  }
}

@media #{$tablet} {
  .intro {
    padding-top: 56px;
    padding-bottom: 265px;

    &__headline {
      font-size: 56px;
    }

    &__subheadline {
      font-size: 24px;
      margin-bottom: 70px;
    }
  }


}