.solutions {
  padding-top: 20px;
  padding-bottom: 20px;

  &__headline {
    margin-bottom: 40px;

    font-family: $font-primary;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.02em;
    text-align: center;
    color: $color-primary;
  }


  &__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    width: 312px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    padding-bottom: 122px;

    border: 5px solid $color-secondary;
    border-radius: 10px;

    text-align: center;

    &_marked {
      position: relative;

      &::before {
        content: "BESTSELLER";
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        width: 194px;
        padding-top: 5px;
        
        background-image: url("/img/tab-yellow.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;


        font-family: $font-primary;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: $color-additional;
      }
    }
  }

  &__item-headline {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 20px;
    padding-bottom: 25px;

    background-color: $color-secondary;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    line-height: 1.2;
    color: $color-primary;
  }

  &__letter-strong {
    font-weight: 600;
    font-size: 24px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 22px;
    list-style: none;
  }

  &__list-item {
    position: relative;

    margin-bottom: 16px;
    padding-left: 37px;

    font-family: $font-secondary;
    font-size: 18px;
    color: $color-primary;
    text-align: left;


    &::before {
      content: url("/img/check.png");
      position: absolute;
      top: 1px;
      left: 0;

    }
  }

  &__price {
    position: absolute;
    bottom: 67px;
    left: 0;

    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-primary;
    font-size: 48px;
    color: $color-primary;
  }


  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 16px;
    padding-bottom: 10px;

    border: none;
    background-color: $color-secondary;

    font-family: $font-primary;
    font-size: 20px;
    font-weight: 300;
    color: $color-primary;
  }


}

@media #{$tablet} {
  .solutions {
    padding-top: 67px;
    padding-bottom: 64px;

    &__headline {
      margin-top: 0;
      margin-bottom: 70px;

      font-size: 60px;

    }

    &__item {
      padding-bottom: 136px;
      &_marked {
        position: relative;

        &::before {
          padding-top: 11px;
          padding-bottom: 1px;
          font-size: 18px;
        }
      }
    }

    &__item-headline {
      padding-top: 35px;
      padding-bottom: 40px;

      font-size: 28px;
    }

    &__letter-strong {
      font-size: 40px;
    }

    &__price {
      font-size: 60px;
    }
  }
}

@media #{$desktop} {
  .solutions {
    &__btn {
      cursor: pointer;
    }
  }
}

@media #{$large-desktop} {
  .solutions {
    &__container {
      max-width: $container-width;

      margin-left: auto;
      margin-right: auto;
    }

    &__row {
      justify-content: space-between;
    }

    &__item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}